{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	<h4>Bonjour
		{{ app.user.firstname }}
		{{ app.user.lastname }}.</h4>
	<p>C'est ici que vous pouvez consulter et modifier les informations de votre compte.</p>
	<hr>
	<ul>
		{% if is_granted('ROLE_ADMIN') %}
			<li>
				Vous êtes un administrateur. Accéder au <a href="{{ path('admin') }}">panel d'administration</a>.
			</li>
		{% endif %}
		<li>
			<a href="{{ path('account_changePassword') }}">Modifier mon mot de passe</a>
		</li>
		<li>
			<a href="{{ path('account_address') }}">Gérer mes adresses</a>
		</li>
		<li>
			<a href="{{ path('account_order') }}">Mes commandes</a>
		</li>
	</ul>
	<hr>
{% endblock %}
